@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative
}

html,
body {
  height: 100%;
}

body {
  border: 1px solid transparent;
  font: 300 1em "Source Sans Pro", sans-serif;
  color: #aaa;
}
h1{
    margin:10px auto 30px;
}
p {
  margin-bottom: 10px
}
.banner{
  border-top: 1px solid transparent;
  width:100%;
  height:500px;
  background-color: #ececec;
  margin: 0 auto;
}

.text-container{
  padding:5% 0;
  overflow:hidden;
  width:60%;
  margin: 0 auto;
}

.csstransforms .cn-wrapper {
  width: 26em;
  height: 26em;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top:50%;
  margin-top:-13em;
  left: 50%;
  border-radius: 50%;
  margin-left: -13em;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  background: transparent;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  opacity:0;
}


.csstransforms .opened-nav {
-webkit-transform: scale(1);
        transform: scale(1);
  border-radius: 50%;
  pointer-events: auto;
  opacity:1;
}

.cn-button {
  border:none;
  color: white;
  text-align: Center;
  padding-top: 0em;
  font-size: 1.5em;
  font-weight:normal;
  height: 4.5em;
  width: 4.5em;
  background:none;
  background-color: #6F325C;
  /*background-color: white;*/
  color: white;
  position: absolute;
  left: 50%;
  margin-left: -2.25em;
  top:50%;
  margin-top: -2.25em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 11
}

.cn-button:hover,
.cn-button:active,
.cn-button:focus{
  opacity:.7
}
/*prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
  content:".";
  display:block;
  font-size:2em;
  width:6.2em;
  height:6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index:10;
}


.csstransforms .cn-wrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.csstransforms .cn-wrapper li a {
  display: block;
  font-size: 1.2em;
  height: 14.5em;
  width: 14.5em;
  position: absolute;
  bottom: -7.25em;
  right: -7.25em;
  border-radius: 50%;
  text-decoration: none;
  color: #aaa;
  line-height:2;
  /* make sure text is visible */
  -webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
          transform: skew(-60deg) rotate(-75deg) scale(1);
  text-align: center;
  background: radial-gradient(transparent 35%, white 35%);
  
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}

.csstransforms .cn-wrapper li a span{
  font-size: .7em;
  position:relative;
  top: .05em;
  display:block;
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus{
 background: radial-gradient(transparent 35%, #f8f8f8 35%);
}


.csstransforms .cn-wrapper li.opened-item:first-child {
  -webkit-transform: rotate(-20deg) skew(60deg);
  transform: rotate(-20deg) skew(60deg)
}
.csstransforms .cn-wrapper li.opened-item:nth-child(2){
  -webkit-transform: rotate(12deg) skew(60deg);
  transform: rotate(12deg) skew(60deg)
}

.csstransforms .cn-wrapper li.opened-item:nth-child(3) {
  -webkit-transform: rotate(44deg) skew(60deg);
  transform: rotate(44deg) skew(60deg)
}

.csstransforms .cn-wrapper li.opened-item:nth-child(4) {
  -webkit-transform: rotate(76deg) skew(60deg);
  transform: rotate(76deg) skew(60deg)
}

.csstransforms .cn-wrapper li.opened-item:nth-child(5) {
  -webkit-transform: rotate(108deg) skew(60deg);
  transform: rotate(108deg) skew(60deg)
}

.csstransforms .cn-wrapper li.opened-item:nth-child(6) {
  -webkit-transform: rotate(140deg) skew(60deg);
  transform: rotate(140deg) skew(60deg)
}
.csstransforms .cn-wrapper li.opened-item:nth-child(7) {
  -webkit-transform: rotate(172deg) skew(60deg);
  transform: rotate(172deg) skew(60deg)
}
.csstransforms .cn-wrapper li.opened-item{
  -webkit-transform: rotate(76deg) skew(60deg);
  transform: rotate(76deg) skew(60deg)
  -webkit-transition: all .3s .3s ease;
  transition: all .3s ease .3s;
}
.csstransforms .cn-wrapper li.closed-item{
  -webkit-transform: rotate(76deg) skew(60deg);
          transform: rotate(76deg) skew(60deg);
}

.no-csstransforms .cn-wrapper{
  margin:10em auto;
  overflow:hidden;
  text-align:center;
  padding:.5em;
}
.no-csstransforms .cn-wrapper ul{
  display:inline-block;
}
.no-csstransforms .cn-wrapper li{
  font-size:1em;
  width:5em;
  height:5em;
  float:left;
  line-height:5em;
  text-align:center;
  background-color: #fff;
}
.no-csstransforms .cn-wrapper li a{
  display:block;
  height:100%;
  width:100%;
  text-decoration: none;
  color: inherit;
}
.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus{
  background-color: #f8f8f8;
}
.no-csstransforms .cn-wrapper li a.active{
  background-color: #6F325C !important;
  color: #fff !important;
}
.no-csstransforms .cn-button{
  display:none;
}

@media only screen and (max-width: 620px) {
  .no-csstransforms li{
    width:4em;
    height:4em;
    line-height:4em;
  }
}
@media only screen and (max-width: 500px) {
  .no-ccstransforms .cn-wrapper{
    padding:.5em;
  }
  .no-csstransforms .cn-wrapper li{
    font-size:.9em;
    width:4em;
    height:4em;
    line-height:4em;
  }
}
@media only screen and (max-width: 480px) {
  .csstransforms .cn-wrapper{
    font-size: .68em;
  }
  .cn-button{
    font-size:1em;
  }
}
@media only screen and (max-width:420px){
  .no-csstransforms .cn-wrapper li{
    width:100%;
    height:3em;
    line-height:3em;
  }
}